extends layout

block content
  h1 Hello
  p My name is Mitchell Schooler. 
  
  p You can contact me on #[a(href='https://google.com/+MitchellSchooler/about') Google+] (If you don't use Google+, look for Contact Information)
  
  p You can see some of my work on #[a(href='https://github.com/mitwilsch') GitHub]
  
  p I don't use #[a(href='https://facebook.com/mitwilsch') Facebook] or #[a(href='https://twitter.com/mitwilsch') Twitter].